body {
  font-family: Arial, sans-serif;
  background-color: #fbf2f2;
  margin: 0;
  text-align: center;
}

.banner {
  background: linear-gradient(to bottom right, firebrick, #1a365d);
  color: white;
  padding: 20px;
}

.banner h1 {
  margin: 0;
}

.topics-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px auto;
  gap: 3rem;
  max-width: 1200px;
  height: 80%;
}

.topic-card {
  background: floralwhite;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: auto;
  padding: 20px;
  transition: 0.3s;
}

.topic-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}

.topic-card h3 {
  color: firebrick;
  margin-bottom: 10px;
}

.topic-card button {
  background-color: firebrick;
  color: floralwhite;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.topic-card button:hover {
  background-color: floralwhite;
  color: firebrick;
  border: 1px solid firebrick;
}

.back-btn {
  background: none;
  border: 2px solid floralwhite;
  color: floralwhite;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.back-btn:hover {
  color: floralwhite;
  border: 2px solid floralwhite;
  background: linear-gradient(to bottom right, #1a365d, firebrick);
}

.back-btn:active {
  scale: 1.03;
}

@media (min-width: 769px) {
  .back-btn {
    position: absolute;
    top: 80px;
    left: 20px;
  }
}