body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, floralwhite, firebrick);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  position: relative;
}

.heading-div {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  height: 40vh;
}
.imagery {
  flex: 1;
  padding: 1rem;
  
}

.imagery img {
  width: 100%;
}

.texts{
  flex: 2;
  text-align: justify;
  padding: 1.5rem;
  padding-right: 5rem;
  font-weight: bold;
  line-height: 1.4;
}
.texts p {
  color: #0b1f6d;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0;
}
.texts span:first-child {
  color: #145a7d;
}
.texts span:last-child  {
  color: #0f426b;
}

.text-heading {
  color: firebrick;
}
.text-detail {
  color: #0f426b;
}

@media (max-width: 710px) {
  .text-detail {
    display: none;
    color: #0b1f6d;
  }
  .text {
    text-align: left;
    padding-right: 0.2rem;
  }
}

.account-container {
  display: block;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  padding: 20px 40px;
  padding-top: 10px;
  text-align: center;
  width: 40vw;
  max-width: 300px;
  z-index: 10;
  margin-top: 10rem;
  color: #0b1f6d;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

button, input {
  width: 100%;
  padding: 12px;
  background: floralwhite;
  color: firebrick;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover, input:hover {
  background: #ebf8ff;
  color: #1a365d;
}

input {
  padding-left: 20px;
  padding-right: 0;
  font-size: 14px;
  font-weight: 100;
}

a {
  color: floralwhite;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 15px;
  margin-top: 120px;
  font-size: 18px;
  color: #0b1f6d;
}
