body {
  padding-top: 80px;
}

.top-banner {
  display: grid;
  grid-template-columns: 210px 1fr 410px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: linear-gradient(to left, #1d4dc4, firebrick);
  border-bottom: 1px solid rgba(178, 34, 34, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.top-left {
  padding-bottom: 0px;
  height: 70px;
}

.top-left h1 {
  color: white;
  font-size:34px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 17px;
}

.search-bar {
  padding: 17px 5px;
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  max-width: 400px;
}

.search-bar input {
  font-size: 16px;
  padding: 10px;
  width: 80%;
  border-radius: 5px 0 0 5px;
  border: 1px solid firebrick;
  height: 20px;
}

.search-bar button {
  padding: 0px 6px;
  cursor: pointer;
  border: none;
  background: #cee0f4;
  color: white;
  border-radius: 0 5px 5px 0;
  transition: background 0.3s;
  border: 1px solid rgb(87, 105, 45);
  height: 41.5px;
  font-size: 18px;
}

.search-bar button:hover {
  background: #0056b3;
}

button {
  padding: 7px 15px;
  border-radius: 15px;
  background-color: honeydew;
  border: 1px solid firebrick;
  color: firebrick;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: blanchedalmond;
  border: 1px solid rgb(47, 168, 243);
  color: rgb(16, 99, 151);
}

button:active {
  scale: 1.03;
}

.top-right {
  position: relative;
  justify-content: space-between;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 16px;
  right: 15px;
  color: rgb(255, 255, 255);
  border-radius: 10px 0 10px 0;
  padding: 5px 10px;
}

.nav-toggle:hover {
  background-color: aliceblue;
  color: rgb(7, 51, 228);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 25px;
  justify-content: center;
  font-size: larger;
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  padding: 0px 5px;
  color: rgb(255, 255, 255);
}

.nav-links a:hover {
  font-size: large;
  color: rgb(153, 178, 241);
  transition: 0.3s ease;
}

/* Nav-links smaller screen */
@media screen and (max-width: 785px) {
  .top-banner {
    grid-template-columns: 210px 2fr 0.8fr;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    position: absolute;
    top: 80px;
    right: 0px;
    padding: 30px 10px;
    text-align: right;
    font-size: large;
    background-color: rgb(60, 108, 230);
    border-radius: 0 0 0 15px;
    row-gap: 30px;
  }

  .nav-links a {
    color: azure;
    padding: 5px;
    border-radius: 10px 0 10px 0;
  }

  .nav-links a:hover {
    background-color: azure;
    color: blue;
    padding: 5px 15px;
    transition: 0.5s ease;
  }
  .nav-links a:active {
    font-size: 20px;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-toggle {
    display: block;
    margin-top: 0;
  }
}